-- Add incident_authorized column to parking_sessions table
-- This column is needed by IncidentAutoCreateJob to track if incidents were authorized

ALTER TABLE parking_sessions
ADD COLUMN incident_authorized BOOLEAN DEFAULT FALSE;
